/*-------------------------------------------------------------------------------------------*/
/* Buttons */
/*-------------------------------------------------------------------------------------------*/
a.pcf_button_button {
	cursor:pointer;
	font-family: sans-serif;
	display: inline-block !important;
	line-height: 1em !important;
	padding: 6px 13px !important;
	/*margin:0 .6em 1.5em 0;*/
	border: 1px solid #af4040;
	border-bottom-color: #9a2020;
	color: white !important;
	text-align: center !important;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-decoration: none !important;
	
	/*Border radius*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	/*Background*/
	background-color: #d72323; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #e85252),
					color-stop(1, #cf2e2e)
				);
	background: -moz-linear-gradient(
					center top,
					#e85252 20%,
					#cf2e2e 100%
				);
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
						inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
						0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
					0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
				inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
				0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
}

a.pcf_button_button.small { padding:2px 10px !important; font-size:0.9em !important;}
a.pcf_button_button.large { padding:7px 16px !important; font-size:1.4em !important;}
a.pcf_button_button.xl { padding:9px 20px !important; font-size:1.8em !important;}

a.pcf_button_button:hover, 
a.pcf_button_button.hover, 
a.pcf_button_button.active {
	text-decoration: none !important;
	/*Background*/
	background: #d20000; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #e53e3e),
					color-stop(1, #ca1616)
				);
	background: -moz-linear-gradient(
					center top,
					#e53e3e 20%,
					#ca1616 100%
				);
}

a.pcf_button_button:active,
a.pcf_button_button.active  {
	border-color: #af4040;
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
						0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	-moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
				0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
}

a.pcf_button_button.dark span { color:#555 !important; text-shadow:0 1px #fff !important;}
a.pcf_button_button.custom:hover { opacity:0.85; }

a.pcf_button_button span { line-height:1.2em !important; min-height: 16px !important; }
a.pcf_button_button span.woo-info { background:url( "../images/ico-info.png") no-repeat 0 45%; padding-left:25px; display:block; }
a.pcf_button_button span.woo-download { background:url( "../images/ico-download.png") no-repeat 0 45%; padding-left:25px; display:block; }
a.pcf_button_button span.woo-tick { background:url( "../images/ico-tick.png") no-repeat 0 45%; padding-left:25px; display:block; }
a.pcf_button_button span.woo-note { background:url( "../images/ico-note.png") no-repeat 0 45%; padding-left:25px; display:block; }
a.pcf_button_button span.woo-alert { background:url( "../images/ico-alert.png") no-repeat 0 45%; padding-left:25px; display:block; }

a.pcf_button_button.red { 
	border-color: #af4040; border-bottom-color: #9a2020; background-color: #d72323;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e85252),color-stop(1, #cf2e2e));
	background: -moz-linear-gradient(center top,#e85252 20%,#cf2e2e 100%);
}
a.pcf_button_button.red:hover { 
	background: #d20000;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e53e3e),color-stop(1, #ca1616));
	background: -moz-linear-gradient(center top,#e53e3e 20%,#ca1616 100%);
}

a.pcf_button_button.blue { 
	border-color: #4081af; border-bottom-color: #20559a; background-color: #237fd7;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #52a8e8),color-stop(1, #2e76cf));
	background: -moz-linear-gradient(center top,#52a8e8 20%,#2e76cf 100%);
}
a.pcf_button_button.blue:hover { 
	background: #0073d2;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #3e9ee5),color-stop(1, #1666ca));
	background: -moz-linear-gradient(center top,#3e9ee5 20%,#1666ca 100%);
}

a.pcf_button_button.orange { 
	border-color: #af7440; border-bottom-color: #9a5420; background-color: #d76b23;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e88e52),color-stop(1, #cf6e2e));
	background: -moz-linear-gradient(center top,#e88e52 20%,#cf6e2e 100%);
}
a.pcf_button_button.orange:hover { 
	background: #d25e00;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e57d3e),color-stop(1, #ca5116));
	background: -moz-linear-gradient(center top,#e57d3e 20%,#ca5116 100%);
}

a.pcf_button_button.green { 
	border-color: #87bf00; border-bottom-color: #7ca122; background-color: #8dc11e;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #ace53e),color-stop(1, #8dca16));
	background: -moz-linear-gradient(center top,#ace53e 20%,#6bca16 100%);
}
a.pcf_button_button.green:hover { 
	background: #87c000;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #a0d53a),color-stop(1, #60b513));
	background: -moz-linear-gradient(center top,#a0d53a 20%,#60b513 100%);
}

a.pcf_button_button.aqua { 
	border-color: #40af96; border-bottom-color: #209a82; background-color: #23d7af;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #52e8c6),color-stop(1, #2ecfab));
	background: -moz-linear-gradient(center top,#52e8c6 20%,#2ecfab 100%);
}
a.pcf_button_button.aqua:hover { 
	background: #00d2a8;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #3ee5c0),color-stop(1, #16ca9e));
	background: -moz-linear-gradient(center top,#3ee5c0 20%,#16ca9e 100%);
}

a.pcf_button_button.teal { 
	border-color: #23a6d6; border-bottom-color: #20799a; background-color: #23abd7;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #52c3e8),color-stop(1, #2eabcf));
	background: -moz-linear-gradient(center top,#52c3e8 20%,#2eabcf 100%);
}
a.pcf_button_button.teal:hover { 
	background: #009ed2;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #3ebce5),color-stop(1, #16a2ca));
	background: -moz-linear-gradient(center top,#3ebce5 20%,#16a2ca 100%);
}

a.pcf_button_button.purple { 
	border-color: #234dd6; border-bottom-color: #20489a; background-color: #2356d7;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #526ee8),color-stop(1, #2e58cf));
	background: -moz-linear-gradient(center top,#526ee8 20%,#2e58cf 100%);
}
a.pcf_button_button.purple:hover { 
	background: #0036d2;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #3e5ae5),color-stop(1, #1638ca));
	background: -moz-linear-gradient(center top,#3e5ae5 20%,#1638ca 100%);
}

a.pcf_button_button.pink { 
	border-color: #d623cb; border-bottom-color: #9a2096; background-color: #d723d5;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e852e6),color-stop(1, #cd2ecf));
	background: -moz-linear-gradient(center top,#e852e6 20%,#cd2ecf 100%);
}
a.pcf_button_button.pink:hover { 
	background: #bc00d2;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #c83ee5),color-stop(1, #ae16ca));
	background: -moz-linear-gradient(center top,#c83ee5 20%,#ae16ca 100%);
}

a.pcf_button_button.silver { 
	color: #444 !important;
	text-shadow:0 1px #fff;
	border-color: #bbb; border-bottom-color: #999; background-color: #d8d8d8;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e9e9e9),color-stop(1, #ccc));
	background: -moz-linear-gradient(center top,#e9e9e9 20%,#ccc 100%);
}
a.pcf_button_button.silver:hover { 
	background: #ccc;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e0e0e0),color-stop(1, #bebebe));
	background: -moz-linear-gradient(center top,#e0e0e0 20%,#bebebe 100%);
}